# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL = "file:./db.sqlite"
DATABASE_TOKEN = "super-secret"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# Resend
RESEND_EMAIL_TOKEN = "super-secret"

# Clerk
# How to get your keys: https://clerk.com/docs/quickstarts/nextjs
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = "demo-publishable-key"
CLERK_SECRET_KEY = "demo-secret-key"

## DON'T CHANGE THESE. USE THEM AS IT IS
NEXT_PUBLIC_CLERK_SIGN_IN_URL = /sign-in # DONT CHANGE THIS!!!!!!!!!!!
NEXT_PUBLIC_CLERK_SIGN_UP_URL = /sign-up # DONT CHANGE THIS!!!!!!!!!!!